
.item_filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
	padding: 10px;
}

.item_filters label {
	font-family:Lato;
}

.item_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	padding: 10px;
}

.ui.input>input {
	border: 0.6px solid black
}